.d-flex{
    display: flex;
}
.jc-space-between{
    justify-content: space-between;
}
.ai-center{
    align-items: center;
}
.py-80px{
    padding: 80px 0px;
}

.fw-medium{
    font-weight: 500;
}
.fw-bold{
    font-weight: 700;
}
.fw-bolder{
    font-weight: 900;
}