<div class="header">
        <div class="container d-flex jc-space-between ai-center">
            <a href="../pages/index.html"><img src="../assets/images/logo.png" alt="logo圖片" class="logoImg"></a>
            <ul class="header-menu d-flex jc-space-between">
                <li><a href="../pages/product.html">系列鏡框</a></li>
                <li><a href="../pages/shops.html">門市據點</a></li>
                <li><a href="../pages/blog.html">部落格</a></li>
                <li><a href="../pages/faq.html">常見問題</a></li>
            </ul>
        </div>
</div>
