<div class="pagination">
    <ul class="d-flex ai-center">
        <li class="pagination_border"><a href="#">上一頁</a></li>
        <li class="pagination_border"><a href="#">1</a></li>
        <li class="pagination_border pagination-active"><a href="#">2</a></li>
        <li class="pagination_border"><a href="#">3</a></li>
        <li class="pagination_border"><a href="#">4</a></li>
        <li class="pagination_border"><a href="#">5</a></li>
        <li class="pagination_border"><a href="#">下一頁</a> </li>
    </ul>
</div>