.header{
  background-color: $primary-color;
  a{
    color: $white;
    font-size: $font-size-m;
    &:hover{
      color: $black;
      // background-color: $white;
    }
  }
}
.logoImg{
    width: 80px;
    height: 48.57px;
}
.header-menu {
    padding: 25px 0;
    li{
      margin-left: 64px;

    }
}


@media(max-width:767px){
  .header{
    div{
      flex-direction: column;
      padding: 0;
      align-items: inherit;//繼承.header
    }
  }
  .logoImg{
    margin: 16px 0 16px 15px;
  }
  .header-menu{
    flex-wrap: wrap;
    padding: 0;
    li{
        width: 50%;
        margin: 0;
        border: 1px solid #ffffff;
    }
    a{
        text-align: center;
        padding: 12px 20%;
        font-size: $font-size-base;
    }
  }

}