.faq{
    div{
        width: calc(100%*8/12);
        margin-bottom: 32px;
        &:last-child{
            margin-bottom: 48px;
        }
    }
}

@media(max-width:992px){
    .faq{
        div{
            width: 100%;
            &:last-child{
                margin-bottom: 24px;
            }
        }
    }
}
@media(max-width:767px){
    .faq{
        div{
            margin-bottom: 24px;
        }
    }
}