
.container{
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}

.btn1{
  padding: 6px 12px;
}
.btn2{
  padding-top: 16px;
  padding-bottom: 16px;
}

// banner
.banner{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 296px 0;
  .banner-text{
    text-align: end;
    a{
      &:hover{
        color: $black;
      }
    }
  }
}

.banner-btn{
  width: 104px;
  margin: 4px 0 0 auto ;

}

// about
.about{
  background-color: #FBF2F2;
  h2{
    margin-bottom: 24px;
  }
}
.about_items{
  margin: 0 -12px;
}
.item_cards{
  padding: 0 12px;
  flex-direction: column;
  align-items: center;
  img{
    width: 32.7%;
  }
  h4{
    margin: 16px 0 8px 0;
  }
}

// classic
.series{
  margin: 0 -12px;
}
.series-item{
  padding: 0 12px;
  p{
    font-size: $font-size-xxl;
    font-style: italic;
    margin-top: 8px;
  }
}

// co-branding
.co-branding{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
}
.design-item{
  width: 50%;
  .designImg1-mb,.designImg2-mb{
    display: none;
  }
  p{
    padding: 8px 0px;
  }
}

// recommend
.recommend{
  .recommendBox{
    margin: 0 -12px;

  }
}

.peopleCard{
  min-height: 511px;
  padding: 0 12px;
  display: flex;
  .card-text{
    padding: 16px;

}
}
.cardBox{
  border: 1px solid #DEE2E6;
  box-shadow: 0px 2px 6px  #00000029;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-text{
  padding: 16px;

}
.date{
  margin: 16px;
  color: #707070;
}
// contact
.contact{
  background-color: #FBF2F2;
}
.contact-text{
  width: 50%;
  margin: 0 auto;
  display: flex;
  padding: 0;
  flex-direction: column;
  p{
    margin-bottom: 24px;
  }
  button{
    width: calc(100%*4/6);
    margin-left: calc(100%*1/6);
    margin-right: calc(100%*1/6);
    border: 0;
    font-size: $font-size-base;
    margin-top: 48px;
  }
}
.inputBox{
  width: 100%;
  font-size: $font-size-base;
  margin: 8px 0 16px 0;
  padding: 6px 12px;
}

@media(max-width:992px){
  .container{
    padding-left: 32px;
    padding-right: 32px;
    h2{
      font-size: $font-size-l;
    }
  }
// banner
  .banner{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;

  }
// about

  .about_items{
    flex-wrap: wrap;
    .item_cards{
      margin-bottom: 24px;
    }
  }
// classic
  .series{
    flex-wrap: wrap;
    .series-item{
      margin-bottom: 24px;
      margin-left: 25%;
      margin-right: 25%;
    }
  }
// co-branding
  .design{
    flex-wrap: wrap;
    .design-item{
      width: 100%;
      margin-bottom: 24px;
      p{
        font-size: $font-size-xxl;
        font-style: italic;
      }
    }
  }
// recommend
  .recommendBox{
    flex-wrap: wrap;
    .peopleCard{
      margin-bottom: 24px;
    }
  }
// contact
  .contact-text{
    width: calc(100%*10/12);
    button{
      width: calc(100%*6/10);
      margin-left: calc(100%*2/10);
      margin-right: calc(100%*2/10);
    }

  }
  // input.submit-btn{
  //   padding-left: 23.66%;
  //   padding-right: 23.66%;
  // }

}

@media(max-width:767px){
  .container{
    padding-left: 14px;
    padding-right: 14px;
  }

// banner
  .banner{
    padding: 144px 0;
    p{
      font-size: $font-size-base;
    }
    h1{
      font-size: $font-size-l;
    }
  }
// about
  .about{
    .item_cards{
      margin-bottom: 24px;
    }
  }
// classic
  .series{
    .series-item{
      margin-left: auto;
      margin-right: auto;
    }   
  }
// co-branding
  .design-item{
    .designImg1-mb,.designImg2-mb{
      display: block;
      width: 100%;
    }
    .designImg1-pc,.designImg2-pc{
      display: none;
    }
    p{
      padding: 8px 0px;
    }
  }
// recommend
  .recommendBox{
    .peopleCard{
      justify-content: center;
      img{
        width: 100%;
      }
    }
  }  

// contact
  .contact-text{
    width: 100%;
    padding: 0;
    .checkbox{
      margin-bottom: 0;
    }
    button{
      width: 100%;
      margin-left:  0;
      margin-right:  0;
      margin-top: 24px;
    }
  }

}
