.shop_content{
    margin-left: -12px;
    margin-right: -12px;
    padding-bottom: 48px;
}

.content{
    width: calc(100%*5/12);
    padding-left: 12px;
    padding-right: 12px;
    .shopImg-mb{
        display: none;
    }
}
.content_imgBox{
    width: calc(100%*7/12);
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    img{
        align-items: stretch;
        object-fit: contain;
    }
}

@media(max-width:992px){
    .shop_content{
        flex-direction: column;

    }
    .content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        width: 100%;
        img{
            width: 50%;
            padding-right: 12px;
        }
        .shopImg-pc{
            display: none;
        }
        .shopImg-mb{
            display:block;
        }
        .content_text{
            width: 50%;
            padding-left: 12px;
        }
    }
    .content_imgBox{
        width: 100%;
        img{
            width: 100%;
        }
    }
}
@media(max-width:767px){
    .shop_content{
        padding-bottom: 24px;

    }
    .content{
        flex-direction: column;
        img{
            width: 100%;
            padding-right: 0;
        }
        .content_text{
            width: 100%;
            padding-left: 0;
        }

    }

}